# Predicting Student Grades

#### Loading Data

In [11]:
import pandas as pd
import numpy as np
import sklearn
from sklearn import linear_model
from sklearn.utils import shuffle
import matplotlib.pyplot as plt
from matplotlib import style
import pickle

In [2]:
df = pd.read_csv("student-mat.csv", sep=';') #Dataset is separated by semicolons therefore need to sep by ;
df

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,MS,M,20,U,LE3,A,2,2,services,services,...,5,5,4,4,5,4,11,9,9,9
391,MS,M,17,U,LE3,T,3,1,services,services,...,2,4,5,3,4,2,3,14,16,16
392,MS,M,21,R,GT3,T,1,1,other,other,...,5,5,3,3,3,3,3,10,8,7
393,MS,M,18,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,0,11,12,10
394,MS,M,19,U,LE3,T,1,1,other,at_home,...,3,2,3,3,3,5,5,8,9,9

In [3]:
df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

In [4]:
df.tail()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
390,MS,M,20,U,LE3,A,2,2,services,services,...,5,5,4,4,5,4,11,9,9,9
391,MS,M,17,U,LE3,T,3,1,services,services,...,2,4,5,3,4,2,3,14,16,16
392,MS,M,21,R,GT3,T,1,1,other,other,...,5,5,3,3,3,3,3,10,8,7
393,MS,M,18,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,0,11,12,10
394,MS,M,19,U,LE3,T,1,1,other,at_home,...,3,2,3,3,3,5,5,8,9,9

In [5]:
df.describe()
# Note: G1, G2, G3 represent grades from 1st period, 2nd period, and 3rd period.

,age,Medu,Fedu,traveltime,studytime,failures,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
count,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000
mean,16.696203,2.749367,2.521519,1.448101,2.035443,0.334177,3.944304,3.235443,3.108861,1.481013,2.291139,3.554430,5.708861,10.908861,10.713924,10.415190
std,1.276043,1.094735,1.088201,0.697505,0.839240,0.743651,0.896659,0.998862,1.113278,0.890741,1.287897,1.390303,8.003096,3.319195,3.761505,4.581443
min,15.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,3.000000,0.000000,0.000000
25%,16.000000,2.000000,2.000000,1.000000,1.000000,0.000000,4.000000,3.000000,2.000000,1.000000,1.000000,3.000000,0.000000,8.000000,9.000000,8.000000
50%,17.000000,3.000000,2.000000,1.000000,2.000000,0.000000,4.000000,3.000000,3.000000,1.000000,2.000000,4.000000,4.000000,11.000000,11.000000,11.000000
75%,18.000000,4.000000,3.000000,2.000000,2.000000,0.000000,5.000000,4.000000,4.000000,2.000000,3.000000,5.000000,8.000000,13.000000,13.000000,14.000000
max,22.000000,4.000000,4.000000,4.000000,4.000000,3.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,75.000000,19.000000,19.000000,20.000000

#### Trimming Data

In [6]:
# Selecting relevant attributes

data = df[["G1", "G2", "G3", "studytime", "failures", "absences"]] #Want to focus on the following attributes: how their study time, failures, and absences affect their final grades. 
data

     G1  G2  G3  studytime  failures  absences
0     5   6   6          2         0         6
1     5   5   6          2         0         4
2     7   8  10          2         3        10
3    15  14  15          3         0         2
4     6  10  10          2         0         4
..   ..  ..  ..        ...       ...       ...
390   9   9   9          2         2        11
391  14  16  16          1         0         3
392  10   8   7          1         3         3
393  11  12  10          1         0         0
394   8   9   9          1         0         5

[395 rows x 6 columns]

In [7]:
predict = "G3" # We want to predict their grade for their third period

X = np.array(data.drop([predict], 1)) #Dropping the G3 column so we can use the df as our input
y = np.array(data[predict]) #Only using G3 column as our result

C:\Users\t-nguyenamy\AppData\Local\Temp\ipykernel_22736\1801159763.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  X = np.array(data.drop([predict], 1)) #Dropping the G3 column so we can use the df as our input

In [8]:
X_train, X_test, y_train, y_test = sklearn.model_selection.train_test_split(X, y, test_size = 0.1) #Testing on 10% of our dataset

#### Linear Regression Modelling

In [9]:
# Defining the model that we will be using 
linear = linear_model.LinearRegression()

In [10]:
linear.fit(X_train, y_train)
accuracy = linear.score(X_test, y_test)
accuracy

AttributeError: 'LinearRegression' object has no attribute 'sco'

As you can see above, the linear regression model shows is that the accuracy is 80% which means the fit is pretty good.

In [23]:
print('Coefficient: \n', linear.coef_) # These are each slope value
print('Intercept: \n', linear.intercept_) # This is the intercept

Coefficient:
 [ 0.13339822  0.9775229  -0.18319162 -0.23763965  0.03282229]
Intercept:
 -1.216889343308523

In [24]:
predictions = linear.predict(X_test) # Gets a list of all predictions

for x in range(len(predictions)):
    print(predictions[x], X_test[x], y_test[x]) # Prints out the actual final grade, the X_test, y_test

5.955535647408711 [7 7 2 1 0] 0
13.949553840499211 [11 14  1  0  6] 14
5.95808120833 [7 7 4 0 4] 6
13.372225595231077 [14 13  1  0  6] 13
12.83863271610828 [10 13  1  0  6] 13
5.543875253590847 [ 7  6  2  0 10] 6
12.675510425579299 [13 13  3  0  0] 14
9.442333844974627 [ 8 10  1  0  0] 11
7.56667471001149 [8 8 2 0 8] 6
13.985474342331448 [15 14  3  0  2] 15
16.985796703362325 [16 17  3  0  0] 17
12.79094839444388 [12 13  2  0  2] 13
8.430868720376797 [10  9  3  0  2] 10
14.447364618735007 [13 15  4  0  0] 15
6.0211802199892315 [7 7 2 1 2] 7
3.683900002342792 [6 5 3 1 0] 0
7.5708928592508045 [10  8  2  0  0] 9
8.594980151828098 [10  9  3  0  7] 9
3.8126435865825448 [6 5 1 2 0] 0
9.209348832625809 [ 9 10  3  0  0] 0
10.702504365442717 [11 11  2  0  2] 10
19.14659450273995 [18 18  1  1 24] 18
12.422456087694707 [11 13  4  0  6] 14
11.397379654195088 [ 8 12  1  0  0] 12
13.836224946254287 [13 14  2  0  0] 15
10.569106145662019 [10 11  2  0  2] 12
12.865680433160259 [11 13  1  1 10] 13
4.5097952425359535 [ 6  5  1  1 14] 5
-0.5996916406890865 [6 0 1 0 0] 0
11.324840578678948 [11 12  3  1  4] 11
12.14164835273625 [12 12  2  0 12] 11
10.835902585223415 [12 11  2  0  2] 12
5.161204358863237 [7 6 1 1 0] 0
10.903656232423593 [13 11  2  0  0] 10
13.575839619132443 [15 14  3  2  4] 15
9.836201280457752 [ 8 10  1  0 12] 10
12.858702041644058 [13 13  2  0  0] 13
8.611951261821897 [9 9 2 0 6] 10
9.504749409238153 [ 9 10  3  0  9] 9
9.93776635487051 [12 10  3  0 10] 12

#### Saving our Model

In [25]:
with open("studentgrades.pickle", "wb") as f:
    pickle.dump(linear,f)

In [26]:
pickle_in = open("studentgrades.pickle", 'rb')
linear = pickle.load(pickle_in)

In [27]:
# TRAIN MODEL MULTIPLE TIMES FOR BEST SCORE
best = 0
for _ in range(20):
    x_train, x_test, y_train, y_test = sklearn.model_selection.train_test_split(X, y, test_size=0.1)

    linear = linear_model.LinearRegression()

    linear.fit(x_train, y_train)
    acc = linear.score(x_test, y_test)
    print("Accuracy: " + str(acc))

    if acc > best:
        best = acc
        with open("studentgrades.pickle", "wb") as f:
            pickle.dump(linear, f)

# LOAD MODEL
pickle_in = open("studentgrades.pickle", "rb")
linear = pickle.load(pickle_in)

Accuracy: 0.8436586279963084
Accuracy: 0.7983329667047148
Accuracy: 0.8855317676365597
Accuracy: 0.8885414151472357
Accuracy: 0.709767811135024
Accuracy: 0.8888856479084865
Accuracy: 0.7967655555952315
Accuracy: 0.9311061426813468
Accuracy: 0.775688791529074
Accuracy: 0.8311328805881861
Accuracy: 0.820611356066635
Accuracy: 0.8097651352592246
Accuracy: 0.8014305707612955
Accuracy: 0.7363907839083136
Accuracy: 0.8850150771383148
Accuracy: 0.7744584663014535
Accuracy: 0.9073413153306287
Accuracy: 0.8165411059930726
Accuracy: 0.8402895580523012
Accuracy: 0.72842925576926